html {
  font-size: 16px;
  height: 100%;
  width: 100%;
  text-align: center;

  body {
    margin: 0;

    .app {
      text-align: center;

      h1 {
        font-size: 4vw;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

      h2 {
        font-size: 3.5vw;
      }

      .row-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 28vh;
          display: inline-block;
        }

        .mike {
          margin-right: 1rem;
        }
      }

      p {
        font-size: 4vw;
        text-align: center;
        padding: 1rem;
      }
      
      .mikericky-button {
        flex-direction: row;
        display: flex;
      }
    }
  }
}

button {
  width: 35%;
  height: 5vh;
  border: black 1px solid;
  box-shadow: 1px 2px;
  margin: 1rem;
}