@import "helpers/mixins";

html {
  font-size: 16px;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #cccc;

  body {
    margin: 0;

    .app {
      text-align: center;
      position: relative;
      height: 100vh;

      h1 {
        font-size: 6vw;
        margin-bottom: .5rem;
        font-family: "itc-american-typewriter", "serif";
        font-weight: 500;
        font-style: normal;
        @include for-size(desktop) { font-size: 2rem; }
      }

      h2 {
        font-size: 4vw;
        font-family: "itc-american-typewriter", "serif";
        font-weight: 500;
        font-style: normal;
        margin: 0 0 .5rem 0;
        @include for-size(desktop) { font-size: 1.8rem; }

      }

      .row-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 30%;
          display: inline-block;
          @include for-size(desktop) { width: 20% }

        }

        .mike {
          margin-right: 1rem;
        }
      }

      p {
        font-size: 3vw;
        text-align: center;
        padding: 0.5rem;
        font-family: "itc-american-typewriter", "serif";
        font-weight: 500;
        font-style: normal;
        @include for-size(desktop) { font-size: 1rem; }

      }

      .mikericky-button {
        flex-direction: row;
        display: flex;
      }

      .score {
        text-align: center;
        margin: 0;
      }

      .quote-box {
        height: 17vh;
      }

      .answer-container {
        height: 5vh;
      }
    }
  }
}

button {
  width: 30%;
  height: 5vh;
  border: black 1px solid;
  box-shadow: 1px 2px;
  margin: .5rem;
  font-family: "itc-american-typewriter", "serif";
  font-weight: 500;
  font-style: normal;
  @include for-size(desktop) { width: 20%; }

}


